html {
  max-width: 1000px;
  margin: 10px auto;
  background: rgb(241, 241, 242);
}

body {
  margin: 32px;
  background: #fff;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__item {
  padding: 5px 20px;
  border-bottom: 1px solid rgb(150, 150, 150);
  height: 40px;
  text-align: center;
  justify-content: center;
  background: rgb(241, 241, 242);
}

.header__item--active {
  border-left: 1px solid rgb(150, 150, 150);
  border-top: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  border-bottom: none;
  font-weight: 600;
  background: white;
}

.round {
  margin: 0;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}




.header__link {
  text-decoration: none;
  color:black;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
  color: #003c79;
  opacity: 0.7;
}

main,
header,
footer,
main {
  
  background: #fff;
}

.nav__link {
  text-decoration: none;
  color:black;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.nav__link:hover {
  color: #003c79;
  opacity: 0.7;
}

.badge {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 25px;
  height: 26px;
  max-width: 120px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  overflow: hidden;
}

.badge--all {
  background-color: rgb(31, 100, 250);
  color: white;
  padding: 0 20px;
  border-radius: 25px;
}


/* .projects {
  display: grid;
  grid-template-columns: 1fr 8fr;
} */

.nav {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 5px;
  
}
.nav__item {
  padding: 10px;
  /* border-right: 1px solid rgb(150, 150, 150); */
}




.nav__item--active{
  /* border-left: 1px solid rgb(150, 150, 150);
  border-top: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150); */
  border-right: none;
}

nav__button {
  border: none;
  border-radius: 12px;
  margin: 0;
  padding: 0;
}

.hdl { background:rgb(255, 94, 0);} 
.bts { background:rgb(114, 9, 250); } 
.htm { background:rgb(142, 142, 143); }

.none {
  display: none;
}

main {
  margin-top: 20px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
}

.project__image {
  height: 200px;
  width: 200px;
}

